<main>
    <div class="chat">
        <div class="chat__border">
            <div class="chat__message-container" #container>
                <div class="chat__message"
                     *ngFor="let message of messageList$ | async"
                     #msg
                >
                    <div class="chat__message__author"
                         [style.color]="message.userState.color"
                    >
                        {{ message.userState.username }}
                    </div>
                    <div class="chat__message__content">
                        {{ message.message }}
                    </div>
                    <img class="chat__message__init-event" src (error)="messageInit(msg)">
                </div>
            </div>
        </div>
    </div>
</main>
